VITE_RUNTIME_MODE=bridge
VITE_API_BASE_URL=http://localhost:5193
VITE_IMAGE_SERVICE_BASE_URL=http://localhost:3001
VITE_BRIDGE_BASE_URL=http://192.168.8.140:5192
VITE_BRIDGE_KEY=iPharmEGY-Bridge-Offers-Key
VITE_PUBLIC_BRAND_NAME=Al-Nour Offers
